.mainLayout {
    display: flex;
    /* gap: var(--spacing30); */
}

.sider {
    width: 18.055555555555554vw;
    height: 100%;
    padding: 0 1.3888888888888888vw 0 2.083333333333333vw;
    background-color: #fff;
    min-height: 100vh;
    position: relative;
    box-shadow: 4px 0 6px -1px rgba(165, 180, 203, 0.2);
}

.siderTop {
    height: 5.277777777777778vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 3.4722222222222223vw;
}

.siderTop h1 {
    font-weight: 600;
    font-size: 30px;
}

.ProfileContainer {
    display: flex;
    align-items: center;
    gap: 0.6944444444444444vw;
    padding-bottom: var(--spacing16);
    border-bottom: 1px solid black;
    margin-bottom: var(--spacing32);
}

.ProfileIcon {
    height: 100%;
    display: flex;
    align-items: center;
}

.profileContent {
    display: flex;
    flex-direction: column;
    gap: 0.3472222222222222vw;
}

.profileContent h3 {
    font-weight: 500;
}

.siderItems {
    display: flex;
    flex-direction: column;
    gap: 1.5277777777777777vw;
}

.siderItem h3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 1.1111111111111112vw;
}

.siderItem:hover {
    background-color: rgba(103, 101, 101, 0.2);
    border-radius: var(--spacing8);
    padding: var(--spacing8);
}

.active {
    background-color: rgba(103, 101, 101, 0.2);
    border-radius: var(--spacing8);
    padding: var(--spacing8);
}

.siderBottom {
    align-content: end;
    position: absolute;
    bottom: var(--spacing70);
    left: var(--spacing30);
}

.rightSide {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    height: 5.277777777777778vw;
    align-items: center;
    width: 100%;
    padding: 0 var(--spacing30);
}

.searchWrapper {
    position: relative;
    width: 60%;
}

.searchInput {
    width: 100%;
    padding: 8px 16px 8px 40px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.searchInput:focus {
    outline: none;
}

.searchIcon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: #9ca3af;
}

.headerLeftItems {
    display: flex;
    align-items: center;
    gap: var(--spacing10);
}

.pagesContainer {
    padding: 0 var(--spacing30);
    padding-top: 3.4722222222222223vw;
    box-shadow: 0 4px 6px -1px rgba(165, 180, 203, 0.2);
    /* min-height: 85vh; */
}

.mobileMenuBtn {
    display: none;
}

@media only screen and (max-width: 767px) {

    .mainLayout {
        width: 100vw;
        overflow-x: hidden;
    }

    .mobileMenuBtn {
        display: flex;
        position: fixed;
        z-index: 9999;
        left: var(--mSpacing24);
        top: 6.7vw;
    }

    .sider {
        padding: 0;
        padding-left: var(--mSpacing24);
        padding-top: var(--mSpacing60);
        z-index: 99;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #fff;
    }

    .siderOpen {
        transform: translate(0px);
        transition: all 0.4s ease;
    }

    .siderClose {
        transform: translate(-150vw);
        transition: all 0.4s ease;
    }

    .siderTop {
        margin-top: var(--mSpacing8);
        margin-bottom: var(--mSpacing30);
    }

    .ProfileContainer {
        gap: var(--mSpacing8);
        margin-bottom: var(--mSpacing15);
        padding-bottom: var(--mSpacing8);
        width: 90%;
    }

    .siderItem {
        width: 90%;
    }

    .siderItems {
        gap: var(--mSpacing16);
    }

    .siderItem:hover {
        padding: var(--mSpacing8);
        border-radius: var(--mSpacing8);
    }

    .active {
        padding: var(--mSpacing8);
        border-radius: var(--mSpacing8);
    }

    .header {
        padding: 0;
        padding-top: var(--mSpacing15);
        height: max-content;
        justify-content: flex-end;
        gap: var(--mSpacing15);
        gap: var(--mSpacing8);
        padding-right: var(--mSpacing24);
    }

    .headerLeftItems {
        gap: var(--mSpacing8);
    }

    .siderBottom {
        position: relative;
        width: 100vw;
        left: auto;
        bottom: auto;
        margin-top: 40vh;
    }

    .pagesContainer {
        padding-top: var(--mSpacing30);
        padding-left: var(--mSpacing24);
        padding-right: var(--mSpacing24);
    }
}